* {
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Disable selection/Copy of UIWebView */
}

html {
    background-color: #131313;
}

canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    background: url(../../textures/table.png) no-repeat center center;
}

#loading-panel {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 1px;
    margin: -1px 0 0 -150px;
    background: #990CE8;
}

#loader {
    background: #0D4AFF;
    position: absolute;
    left: 0;
    top: -1px;
    height: 3px;
    box-shadow: 0 0 3px #0D4AFF;
}
