html {
    background-color: #2e2e2e;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}

body {
    margin: 0;
}

#app {
    width: 821px;
    height: 459px;
    margin: 0 auto;
}
